# Node.js の依存関係
/node_modules

# キャッシュや一時ファイル
/tmp/
/log/
!/log/.keep
!/tmp/.keep

# 画像やファイルのアップロード保存先
/storage/
!/storage/.keep

# デフォルトのデータベースファイル
/db/*.sqlite3
/db/*.sqlite3-*

# テストカバレッジファイル
/coverage

# RSpecが生成するファイル
/spec/examples.txt

# Rails マスターキー
/config/master.key

# アセットパイプラインのキャッシュ
/sprockets/

# キャッシュやピッドファイルなどの一時ファイル
/tmp/pids/
/tmp/cache/
/tmp/sockets/
/public/assets

# Action Mailbox の処理ファイル
/storage/action_mailbox/

# Active Storage ファイル
/storage/active_storage/

# Action Text ファイル
/storage/action_text/

# アセットビルドファイル
/app/assets/builds

# Turbo Streamsの永続化ファイル
/storage/turbo_streams/

# Rails credentials
config/credentials/development.key
config/credentials/test.key
config/credentials/production.key

# Ignore .env file containing credentials.
.env

# Ignore Mac and Linux file system files
.DS_Store
.*.swp

# Ignore Windows file system files
Thumbs.db
ehthumbs.db
Desktop.ini

# Ignore IDE and text editor files
.idea/
.vscode/
*.sublime*


*.sqlite3
storage/test.sqlite3
