# macOSのシステムファイル
.DS_Store

# Windowsのシステムファイル
Thumbs.db
ehthumbs.db
Desktop.ini

# Linuxのシステムファイル
.*.swp
.*.swo
.*.swn

# テキストエディタや開発ツールの一時ファイル
*.sublime*
*.idea*
*.vscode*
*.swp
*.swo
*~
.project
.settings
*.tmproj
*.esproj
nbproject
*.orig
*.bak

# ビルド出力
/public/system
/public/uploads

# バージョン管理外のファイルやディレクトリ
/vendor/bundle
/vendor/cache

# dotenv 環境変数ファイル
.env
.env.*

# Railsの秘密鍵
config/credentials.yml.enc

# データベース設定ファイル
/config/database.yml

# バックアップファイル
*.backup

# ビルドしたCSSファイル等
/public/packs
/public/packs-test
/public/assets

# Yarn Integrity files
.yarn-integrity


# Ignore sprockets cache files
/tmp/cache/assets/sprockets/


# 無視するファイル/ディレクトリのパターンを追加
tmp/cache/

# SQLite データベースファイル
*.sqlite3
*.sqlite3-shm
*.sqlite3-wal

# ログファイル
log/*.log
log/*.pid

# Ignore server PID files
/tmp/pids/*
