<!-- app/views/your_controller/index.html.erb -->
<h1>Line Chart</h1>
<%= line_chart @line_chart_data %>

<h1>Pie Chart</h1>
<%= pie_chart @pie_chart_data %>

<h1>Bar Chart</h1>
<%= bar_chart @bar_chart_data %>

<h1>Column Chart</h1>
<%= column_chart @column_chart_data %>
